<div class="modal">
  <div class="modal-content">
    <span class="close" (click)="closeModal()">&times;</span>
    <h3>Add New Capital</h3>
    <form>
      <div class="form-group">
        <label>
          Country
          <input
            [(ngModel)]="newCapital.country"
            name="country"
            placeholder="Country"
          />
        </label>
      </div>
      <div class="form-group">
        <label>
          City
          <input [(ngModel)]="newCapital.city" name="city" placeholder="City" />
        </label>
      </div>
      <div class="form-group">
        <label>
          Population
          <input
            [(ngModel)]="newCapital.population"
            name="population"
            type="number"
            placeholder="Population"
          />
        </label>
      </div>
      <div class="form-group">
        <label>
          Latitude
          <input
            [(ngModel)]="newCapital.lat"
            name="lat"
            type="number"
            placeholder="Latitude"
          />
        </label>
      </div>
      <div class="form-group">
        <label>
          Longitude
          <input
            [(ngModel)]="newCapital.lng"
            name="lng"
            type="number"
            placeholder="Longitude"
          />
        </label>
      </div>
      <div class="form-group">
        <label>
          Picture URL
          <input
            [(ngModel)]="newCapital.pictureUrl"
            name="pictureUrl"
            placeholder="Picture URL"
          />
        </label>
      </div>
      <button type="button" (click)="save()">Add Capital</button>
    </form>
  </div>
</div>
